.shop-topbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
}

.shop-container {
    position: relative;
    display: flex;
    margin-top: 3rem;
    background-color: #fafafa;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    color: #ff6600;
    font-size: 1.4rem;
}

.shop-main {
    width: 100%;
    padding: 0 0 2rem;
}

.benefit-cards {
    margin-top: 2rem;
}

.inline-block {
    display: inline-block;
}

.gear-icon {
    vertical-align: bottom;
}

.benefit-cards-wrapper {
    padding: 2rem 1rem 1rem;
}

.card-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.card-each-box {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
}

.card-each-box:last-child {
    border: 0;
}

.benefit-card-list {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.benefit-card-list p {
    margin-top: 0.5rem;
}

.card-value {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #ff8f45;
    margin-right: 5px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1.2rem;
}

.card-desc {
    color: gray;
    font-size: 0.8rem;
    line-height: 1rem;
}

.logout-button {
    margin: 0 auto;
    display: inherit;
    padding: 1rem;
    background-color: #ff6600;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: calc(100% - 2rem);
    margin: 5rem 1rem;
}